<ul class="list-group list-group-flush rounded" role="tablist">
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="EmployeeDetails">
        Общая информация
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="EmployeeTest">
        Тестирование
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="EmployeeJobs">
        Должность
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="EmployeeStatuses">
        Статус
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="EmployeeHistory">
        История
    </li>
</ul>
