<ul class="list-group list-group-flush rounded" role="tablist">
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="ApplicantDetails">
        Общая информация
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="ApplicantCases">
        Текущие обращения
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="ApplicantCasesArchive">
        Архив обращений
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="ApplicantCasesHistory">
        История обращения
    </li>
</ul>
