@model _10_3_LegalDigitalInfoModel

<div id="additional-data-content">
    <div class="row g-3">
        <div class="col-8 mx-auto">
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="OGRPNIP">ОГРНИП</label>
                    <input asp-for="OGRPNIP" type="text" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="MethodInforming">Способ получения результата</label>
                    <input asp-for="MethodInforming" type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>