@model _11_2_PresenceArrearsModel
<style>
    .form-check {
        margin-left: 10px;
    }

    .modal .form-check-input[type=radio] {
        margin-right: 10px;
    }
</style>

<div id="additional-data-content">
    <div class="row g-3">
        <div class="col-8 mx-auto">
            <div class="row mb-3">
                <label class="form-label" asp-for="Certificate">Выдать справку</label>
                <div class="col-12">
                    <div class="form-check">
                        <input name="Certificate" id="Certificate1" class="form-check-input" type="radio" value="1" checked="@(string.IsNullOrEmpty(Model.Certificate) ? "true" : "")">
                        <label for="Certificate1" class="form-check-label">
                            о состоянии расчетов по налогам, сборам, пеням, штрафам,
                            процентам
                        </label>
                    </div>
                    <div class="form-check">
                        <input name="Certificate" id="Certificate2" class="form-check-input" type="radio" value="2">
                        <label for="Certificate2" class="form-check-label">
                            об исполнении обязанности по уплате налогов, сборов, пеней,
                            штрафов, процентов
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" asp-for="OnDate">по состоянию на</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">
                            <i class="bi bi-calendar3"></i>
                        </span>
                        <input asp-for="OnDate" type="text" class="form-control pickdate">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label class="form-label" asp-for="Certificate">способ получения ответа</label>
                <div class="col-12">
                    <div class="form-check">
                        <input name="ResponseType" id="ResponseType1" class="form-check-input" type="radio" value="1" checked="@(string.IsNullOrEmpty(Model.Certificate) ? "true" : "")">
                        <label for="ResponseType1" class="form-check-label">
                            непосредственно
                        </label>
                    </div>
                </div>
                <div class="col-12" checkBlock>
                    <div class="form-check">
                        <input name="ResponseType" id="ResponseType2" class="form-check-input" type="radio" value="2">
                        <label for="ResponseType2" class="form-check-label">
                            об исполнении обязанности по уплате налогов, сборов, пеней,
                            почтой
                        </label>
                    </div> 
                    <div class="row mb-3" checkBlockBody>
                        <div class="col-12 ps-5">
                            <label class="form-label" asp-for="ResponsePostalAddress">почтовый адрес</label>
                            <input asp-for="ResponsePostalAddress" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var additionalForm = $('#additional-data-content');

    $(function () {

        additionalForm.find("select.select2-nosearch").each(function () {
            $(this).select2({
                //dropdownParent: $("#mainModal"), для select модального окна
                minimumResultsForSearch: Infinity
            });
        });

        additionalForm.find("select.select2-search").each(function () {
            $(this).select2({
                //dropdownParent: $("#mainModal"),
            });
        });

        let options = { clearIncomplete: true, showMaskOnHover: false };

        additionalForm.find(".pickdate").datepicker({
            language: "ru",
            autoclose: true
        }).inputmask("99.99.9999", options);

        togleFields();
    });

    additionalForm.find('[type="radio"], input[type="checkbox"]').on('click', function () {
        togleFields();
    });

    function togleFields() {
        additionalForm.find('[checkBlock] input[type="radio"], [checkBlock] input[type="checkbox"]').each(function () {
            let $block = $(this).closest('[checkBlock]');

            if ($(this).is(':checked')) {
                visibilityBlock($block.find('[checkBlockBody]'), false, false);
            } else {
                visibilityBlock($block.find('[checkBlockBody]'), true, true);
            }
        })
    } 
    function visibilityBlock($block, hide, isDisabled) {
        switch (hide) {
            case true:
                $block.hide();
                break;
            case false:
                $block.show();
                break;
        }

        switch (isDisabled) {
            case true:
                $block.find('input, select').each(function () {
                    $(this).prop('disabled', true);
                });
                break;
            case false:
                $block.find('input, select').each(function () {
                    $(this).prop('disabled', false);
                });
                $block.find('[data-disabled]').each(function () {
                    visibilityBlock($(this), true, true);
                });
                break;
        }
    }
</script>