@model AisLogistics.App.Models.AdditionalForms.KBR.Federal._47_2_RecalculationPensionAmountModel
@{
    if (Model.AppliedDocumentList.Length == 0)
        Model.AppliedDocumentList = new[] { new AisLogistics.App.Models.AdditionalForms.KBR.Federal._47_2_RecalculationPensionAmountModel.AppliedDocument() };
}

<div id="additional-data-content">
    <div class="row g-3">
        <div class="col-8 mx-auto">
            <h5 class="my-2">Заявитель</h5>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Citizenship">принадлежность к гражданству</label>
                    <input type="text" class="form-control" asp-for="Citizenship">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="ValidityPeriodDocument">Срок действия документа удостоверяющего личность</label>
                    <input type="text" class="form-control" asp-for="ValidityPeriodDocument">
                </div>
            </div>
            <h5 class="my-2">Представитель</h5>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Representative">Тип</label>
                    <select class="select2-nosearch" asp-for="Representative">
                        <option value="">Не выбрано</option>
                        <option value="законный представитель несовершеннолетнего или недееспособного лица">законный представитель несовершеннолетнего или недееспособного лица</option>
                        <option value="организация, на которую возложено исполнение обязанностей опекуна или попечителя">организация, на которую возложено исполнение обязанностей опекуна или попечителя</option>
                        <option value="доверенное лицо">доверенное лицо</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="GuardianOrganizationName">наименование организации, на которую возложено исполнение обязанностей опекуна или попечителя</label>
                    <input type="text" class="form-control" asp-for="GuardianOrganizationName">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="GuardianOrganizationAddress">адрес места нахождения организации</label>
                    <input type="text" class="form-control" asp-for="GuardianOrganizationAddress">
                </div>
            </div>

            <h5 class="my-2">Прошу произвести перерасчет размера</h5>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="OldPensionName">вид пенсии</label>
                    <select asp-for="OldPensionName" class="form-select select2-nosearch">
                        <option>страховой пенсии по старости, фиксированной выплаты к указанной страховой пенсии</option>
                        <option>страховой пенсии по инвалидности, фиксированной выплаты к указанной страховой пенсии</option>
                        <option>страховой пенсии по случаю потери кормильца, фиксированной выплаты к указанной страховой пенсии</option>
                        <option>страховой пенсии по старости</option>
                        <option>доли страховой пенсии по старости</option>
                        <option>накопительной пенсии</option>
                        <option>пенсии за выслугу лет по государственному пенсионному обеспечению</option>
                        <option>пенсии по старости по государственному пенсионному обеспечению</option>
                        <option>пенсии по инвалидности по государственному пенсионному обеспечению</option>
                        <option>пенсии по случаю потери кормильца по государственному пенсионному обеспечению</option>
                        <option>социальной пенсии по старости</option>
                        <option>социальной пенсии по инвалидности</option>
                        <option>социальной пенсии по случаю потери кормильца</option>
                        <option>пенсии, предусмотренной Законом Российской Федерации от 19 апреля 1991 г. N 1032-1 "О занятости населения в Российской Федерации"</option>
                        <option>пенсии по старости, предусмотренной Законом Российской Федерации от 15 мая 1991 г. N 1244-1 "О социальной защите граждан, подвергшихся воздействию радиации вследствие катастрофы на Чернобыльской АЭС"</option>
                    </select>
                </div>
            </div>

            <h6 class="my-2">по  следующему  основанию</h6>
            <div class="row">
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="PensionRecalculation.IndividualCoefficientGrowth">
                        <label class="form-check-label" asp-for="PensionRecalculation.IndividualCoefficientGrowth">
                            увеличение величины индивидуального пенсионного коэффициента за периоды до 1 января 2015 года
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="PensionRecalculation.CoefficientSumGrowth">
                        <label class="form-check-label" asp-for="PensionRecalculation.CoefficientSumGrowth">
                            увеличение суммы коэффициентов, определяемых за каждый календарный год иных засчитываемых в страховой стаж периодов, 
                            указанных в части 12 статьи 15 Федерального закона от 28 декабря 2013 г. N 400-ФЗ 
                            "О страховых пенсиях" (далее - Федеральный закон "О страховых пенсиях"), 
                            имевших место после 1 января 2015 года до даты назначения страховой пенсии
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="PensionRecalculation.DependentDisabledFamilyMembers">
                        <label class="form-check-label" asp-for="PensionRecalculation.DependentDisabledFamilyMembers">
                            наличие (увеличение количества) нетрудоспособных членов семьи, находящихся на иждивении пенсионера
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="PensionRecalculation.FarNorthWorkExperience">
                        <label class="form-check-label" asp-for="PensionRecalculation.FarNorthWorkExperience">
                            приобретение необходимого календарного стажа работы в районах Крайнего Севера и (или) приравненных к ним местностях и страхового стажа
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="PensionRecalculation.FarNorthMigration">
                        <label class="form-check-label" asp-for="PensionRecalculation.FarNorthMigration">
                            переезд на новое место жительства в районы Крайнего Севера и приравненные к ним местности, 
                            в другие районы Крайнего Севера и приравненные к ним местности, в которых установлен более высокий районный коэффициент
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="PensionRecalculation.HardClimateRegionMigration">
                        <label class="form-check-label" asp-for="PensionRecalculation.HardClimateRegionMigration">
                            переезд на новое место жительства в районы с тяжелыми климатическими условиями, требующих дополнительных материальных 
                            и физиологических затрат проживающих там граждан, в которых установлен более высокий районный коэффициент
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="PensionRecalculation.AgricultureWorkExperience">
                        <label class="form-check-label" asp-for="PensionRecalculation.AgricultureWorkExperience">
                            приобретение необходимого календарного стажа работы в сельском хозяйстве, 
                            оставление работы и (или) иной деятельности, в период которой застрахованное лицо подлежит обязательному пенсионному 
                            страхованию в соответствии с Федеральным законом от 15 декабря 2001 г. N 167-ФЗ "Об обязательном пенсионном страховании 
                            в Российской Федерации", и (или) переезд в сельскую местность на новое место жительства
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="PensionRecalculation.DisabledFamilyMemberCategoryChange">
                        <label class="form-check-label" asp-for="PensionRecalculation.DisabledFamilyMemberCategoryChange">
                            изменение категории нетрудоспособного члена семьи умершего кормильца
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="PensionRecalculation.SocialPensionChange">
                        <label class="form-check-label" asp-for="PensionRecalculation.SocialPensionChange">
                            изменение условий назначения социальной пенсии
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="PensionRecalculation.SeniorityStateGrowth">
                        <label class="form-check-label" asp-for="PensionRecalculation.SeniorityStateGrowth">
                            увеличение продолжительности стажа государственной гражданской службы после назначения пенсии за выслугу лет
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="PensionRecalculation.FederalStateOccupationTwelveMonths">
                        <label class="form-check-label" asp-for="PensionRecalculation.FederalStateOccupationTwelveMonths">
                            замещение должности федеральной государственной гражданской службы не менее 12 полных месяцев с более высоким должностным окладом
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="PensionRecalculation.SeniorityGrowth">
                        <label class="form-check-label" asp-for="PensionRecalculation.SeniorityGrowth">
                            увеличение продолжительности выслуги лет
                        </label>
                    </div>

                    <div checkBlock>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" asp-for="PensionRecalculation.OtherCase">
                            <label class="form-check-label" asp-for="PensionRecalculation.OtherCase">
                                иное
                            </label>
                        </div>
                        <div class="ms-3 ps-4" checkBlockBody>
                            <input type="text" class="form-control" asp-for="PensionRecalculation.OtherCaseName">
                        </div>
                    </div>
                    
                </div>
            </div>

            <h5 class="my-2">В настоящее время</h5>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-check">
                        <input asp-for="Employed" id="Employed1" class="form-check-input" type="radio" value="false">
                        <label for="Employed1" class="form-check-label">не работаю</label>
                    </div>
                    <div class="form-check">
                        <input asp-for="Employed" id="Employed2" class="form-check-input" type="radio" value="true">
                        <label for="Employed2" class="form-check-label">работаю</label>
                    </div>
                </div>
            </div>

            <h6 class="my-2">на иждивении</h6>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-check">
                        <input asp-for="DependentTypeId" id="DependentTypeId1" class="form-check-input" type="radio" value="1">
                        <label for="DependentTypeId1" class="form-check-label">нет нетрудоспособных членов семьи</label>
                    </div>
                    <div class="row" checkBlock>
                        <div class="col-12">
                            <div class="form-check">
                                <input asp-for="DependentTypeId" id="DependentTypeId2" class="form-check-input" type="radio" value="2">
                                <label for="DependentTypeId2" class="form-check-label">имеются нетрудоспособные члены семьи</label>
                            </div>
                        </div>
                        <div class="row mb-3" checkBlockBody>
                            <div class="col-1"></div>
                            <div class="col-2 mb-2">
                                <label class="form-label" asp-for="DependentAmount">количество</label>
                                <input asp-for="DependentAmount" type="number" min="0" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h6 class="my-2">Предупреждение</h6>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="AdditionalWarningText">иное</label>
                    <input type="text" class="form-control" asp-for="AdditionalWarningText">
                </div>
            </div>

            <h6 class="my-2">К заявлению прилагаю документы</h6>
            <div id="appliedDocumentList" data-clone-list>
                @for (int i = 0; i < Model.AppliedDocumentList.Count(); i++)
                {
                    <div class="g-3" id="clone@(i)" data-id="@i" data-clone>
                        <hr />
                        <h6 class="my-2 title">Документ @(i + 1)</h6>
                        <div class="row mb-1 align-items-center">
                            <div class="col-6">
                                <label class="form-label" asp-for="AppliedDocumentList[i].Name">Наименование</label>
                                <input type="text" list="Docs" asp-for="AppliedDocumentList[i].Name" class="form-control">
                                <datalist id="Docs">
                                    <option value="Документ удостоверяющий личность">Документ удостоверяющий личность</option>
                                    <option value="Свидетельство о рождении">Свидетельство о рождении</option>
                                    <option value="Свидетельство о заключении брака">Свидетельство о заключении брака</option>
                                    <option value="Свидетельство о расторжении брака">Свидетельство о расторжении брака</option>
                                    <option value="Свидетельство об установлении отцовства">Свидетельство об установлении отцовства</option>
                                    <option value="Расчётный счёт">Расчётный счёт</option>
                                    <option value="Сберкнижка">Сберкнижка</option>
                                    <option value="Трудовая книжка">Трудовая книжка</option>
                                    <option value="Свидетельство о регистрации по месту жительства/пребывания">Свидетельство о регистрации по месту жительства/пребывания</option>
                                    <option value="Удостоверение">Удостоверение</option>
                                    <option value="Справка МСЭ">Справка МСЭ</option>
                                    <option value="Ветеран труда РА">Ветеран труда РА</option>
                                </datalist>
                            </div>
                            <div class="col-2">
                                <label class="form-label" asp-for="AppliedDocumentList[i].NumdberOriginals">Количество Экземпяров</label>
                                <input type="number" min="0" asp-for="AppliedDocumentList[i].NumdberOriginals" class="form-control" />
                            </div>
                            <div class="col-2">
                                <label class="form-label" asp-for="AppliedDocumentList[i].NumdberCopies">Количество страниц</label>
                                <input type="number" min="0" asp-for="AppliedDocumentList[i].NumdberCopies" class="form-control" />
                            </div>
                            <div class="col-1 mt-4">
                                <button type="button" class="btn btn-danger" onclick="blockRemove(this)"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row justify-content-center">
                <div class="col-2 mt-5">
                    <button type="button" class="btn btn-primary" id="addAppliedDocument"><i class="bi bi-plus"></i></button>
                </div>
            </div>

            <h6 class="my-2">при наличии такого выбора гражданина</h6>
            <div class="row mb-2" checkBlock>
                <div class="col-12">
                    <div class="form-check">
                        <input asp-for="TypeNotification.NotificationTypeOne" class="form-check-input" type="checkbox" />
                        <label asp-for="TypeNotification.NotificationTypeOne" class="form-check-label">
                            направить уведомление, подтверждающее факт и дату приема территориальным органом Пенсионного фонда Российской Федерации настоящего заявления и
                            представленных мною документов, на адрес электронной почты
                        </label>
                    </div>
                </div>
                <div class="row mb-3 justify-content-end" checkBlockBody>
                    <div class="col-11 mb-2">
                        <label class="form-label" asp-for="TypeNotification.EmailOne">адрес электронной почты гражданина</label>
                        <input type="text" class="form-control" asp-for="TypeNotification.EmailOne">
                    </div>
                </div>
            </div>
            <div class="row mb-2" checkBlock>
                <div class="col-12">
                    <div class="form-check">
                        <input asp-for="TypeNotification.NotificationTypeTwo" class="form-check-input" type="checkbox" />
                        <label asp-for="TypeNotification.NotificationTypeTwo" class="form-check-label">осуществлять информирование о ходе предоставления государственной услуги путем передачи текстовых сообщений</label>
                    </div>
                    <div class="row mb-3 justify-content-end" checkBlockBody>
                        <div class="row mb-2 justify-content-end" checkBlock>
                            <div class="col-12">
                                <div class="form-check">
                                    <input asp-for="TypeNotification.NotificationTransmitionMethod" id="NotificationTransmitionMethod1" class="form-check-input" type="radio" value="1">
                                    <label for="NotificationTransmitionMethod1" class="form-check-label">на адрес электронной почты</label>
                                </div>
                            </div>
                            <div class="row mb-3 justify-content-end" checkBlockBody>
                                <div class="col-11 mb-2">
                                    <label class="form-label" asp-for="TypeNotification.EmailTwo">адрес электронной почты гражданина</label>
                                    <input type="text" class="form-control" asp-for="TypeNotification.EmailTwo">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2 justify-content-end" checkBlock>
                            <div class="col-12">
                                <div class="form-check">
                                    <input asp-for="TypeNotification.NotificationTransmitionMethod" id="NotificationTransmitionMethod2" class="form-check-input" type="radio" value="2">
                                    <label for="NotificationTransmitionMethod2" class="form-check-label">на абонентский номер устройства подвижной радиотелефонной связи</label>
                                </div>
                            </div>
                            <div class="row mb-3 justify-content-end" checkBlockBody>
                                <div class="col-11 mb-2">
                                    <label class="form-label" asp-for="TypeNotification.SubscriberNumber">абонентский номер гражданина</label>
                                    <input type="text" class="form-control" asp-for="TypeNotification.SubscriberNumber">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="originalBlock">
    <div class="g-3" id="appliedDocument" data-id="" data-original>
        <hr />
        <h6 class="my-2 title">Документ 0</h6>
        <div class="row mb-1 align-items-center">
            <div class="col-6">
                <label class="form-label" asp-for="AppliedDocumentList[0].Name">Наименование</label>
                <input type="text" list="Docs" asp-for="AppliedDocumentList[0].Name" class="form-control" value="@string.Empty">
                <datalist id="Docs">
                    <option value="Документ удостоверяющий личность">Документ удостоверяющий личность</option>
                    <option value="Свидетельство о рождении">Свидетельство о рождении</option>
                    <option value="Свидетельство о заключении брака">Свидетельство о заключении брака</option>
                    <option value="Свидетельство о расторжении брака">Свидетельство о расторжении брака</option>
                    <option value="Свидетельство об установлении отцовства">Свидетельство об установлении отцовства</option>
                    <option value="Расчётный счёт">Расчётный счёт</option>
                    <option value="Сберкнижка">Сберкнижка</option>
                    <option value="Трудовая книжка">Трудовая книжка</option>
                    <option value="Свидетельство о регистрации по месту жительства/пребывания">Свидетельство о регистрации по месту жительства/пребывания</option>
                    <option value="Удостоверение">Удостоверение</option>
                    <option value="Справка МСЭ">Справка МСЭ</option>
                    <option value="Ветеран труда РА">Ветеран труда РА</option>
                </datalist>
            </div>
            <div class="col-2">
                <label class="form-label" asp-for="AppliedDocumentList[0].NumdberOriginals">Количество Экземпяров</label>
                <input type="number" min="0" asp-for="AppliedDocumentList[0].NumdberOriginals" class="form-control" value="0" />
            </div>
            <div class="col-2">
                <label class="form-label" asp-for="AppliedDocumentList[0].NumdberCopies">Количество страниц</label>
                <input type="number" min="0" asp-for="AppliedDocumentList[0].NumdberCopies" class="form-control" value="0" />
            </div>
            <div class="col-2 mt-4">
                <button type="button" class="btn btn-danger" onclick="blockRemove(this)"><i class="bi bi-trash"></i></button>
            </div>
        </div>
    </div>
</div>

<script>
    var additionalForm = $('#additional-data-content');
    var originalBlock = $('#originalBlock');

    $(function () {
        originalBlock.find('[data-original]').each(function (_, item) {
            renameBlock($(item), 100, true);
            visibilityBlock($(item), true, true);
        });

        additionalForm.find('#addAppliedDocument').on('click', () => addForm('appliedDocumentList', 'appliedDocument'));

        additionalForm.find('select.select2-nosearch').each(function () {
            $(this).select2({
                minimumResultsForSearch: Infinity,
            })
        });

        additionalForm.find('[type="radio"], input[type="checkbox"]').on('click', function () {
            togleFields();
        });

        togleFields();
    });    

    function togleFields() {
        additionalForm.find('[checkBlock] input[type="radio"], [checkBlock] input[type="checkbox"]').each(function () {
            let $block = $(this).closest('[checkBlock]');

            if ($(this).is(':checked')) {
                visibilityBlock($block.find('[checkBlockBody]'), false, false);
            } else {
                visibilityBlock($block.find('[checkBlockBody]'), true, true);
            }
        })
    }

    function addForm(cloneListId, originalId) { //Динамическое добавление Принимает (Куда Откуда)
        let $cloneList = additionalForm.find(`#${cloneListId}`);
        let $original = originalBlock.find(`#${originalId}`);
        let $cloneBlock = $original.clone(true);
        let indexId = $cloneList.find('[data-clone]').length;
        renameBlock($cloneBlock, indexId);
        blockInit($cloneBlock);
        $cloneList.append($cloneBlock);
    }

    function blockInit($block) {
        visibilityBlock($block, false, false);

        // $block.find("input").each(function () {
        //     $(this).val("");
        // });
        $block.find('select.select2-nosearch').each(function () {
            $(this).select2({
                minimumResultsForSearch: Infinity,
            })
        });
    }

    function renameBlock($cloneBlock, indexId, initOriginal = false) {
        if (!initOriginal) {
            $cloneBlock.find('.title').text($cloneBlock.find('.title').text().replace(/\d+/, indexId + 1));
            $cloneBlock.attr("id", `${$cloneBlock.attr("id")}${indexId}`);
            $cloneBlock.attr('data-id', indexId);
            $cloneBlock.attr('data-clone', '');
            $cloneBlock.removeAttr('data-original');
        }

        $cloneBlock.find('input, select, div').each(function () {
            $(this).attr('id', $(this).attr('id')?.replace(/\d+/, indexId));
            if ($(this).is('[name]')) {
                $(this).attr('name', $(this).attr('name').replace(/\d+/, indexId));
            }
        });

        $cloneBlock.find('label').each(function () {
            $(this).attr('for', $(this).attr('for').replace(/\d+/, indexId));
        });
    }

    function blockRemove(el) {
        let $cloneList = $(el).closest('[data-clone-list]');
        el.closest('[data-clone]').remove();
        $cloneList.find('[data-clone]').each(function (index, item) {
            renameBlock($(item), index);
        });
    }

    function visibilityBlock($block, hide, isDisabled) {
        switch (hide) {
            case true:
                $block.hide();
                break;
            case false:
                $block.show();
                break;
        }

        switch (isDisabled) {
            case true:
                $block.find('input, select').each(function () {
                    $(this).prop('disabled', true);
                });
                break;
            case false:
                $block.find('input, select').each(function () {
                    $(this).prop('disabled', false);
                });
                $block.find('[data-disabled]').each(function () {
                    visibilityBlock($(this), true, true);
                });
                break;
        }
    }
</script>