@model _49_5_StatementDeliveryPensionModel

<div id="additional-data-content">
    <div class="row g-3">
        <div class="col-8 mx-auto">
            <h5 class="my-2">Заявитель</h5>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Citizenship">принадлежность к гражданству</label>
                    <input type="text" class="form-control" asp-for="Citizenship">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="ValidityPeriodDocument">Срок действия документа удостоверяющего личность</label>
                    <input type="text" class="form-control" asp-for="ValidityPeriodDocument">
                </div>
            </div>
            <h5 class="my-2">Представитель</h5>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Representative">Тип</label>
                    <select class="select2-nosearch" asp-for="Representative">
                        <option value="">Не выбрано</option>
                        <option value="законный представитель несовершеннолетнего или недееспособного лица">законный представитель несовершеннолетнего или недееспособного лица</option>
                        <option value="организация, на которую возложено исполнение обязанностей опекуна или попечителя">организация, на которую возложено исполнение обязанностей опекуна или попечителя</option>
                        <option value="доверенное лицо">доверенное лицо</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="GuardianOrganization">наименование организации, на которую возложено исполнение обязанностей опекуна или попечителя</label>
                    <input type="text" class="form-control" asp-for="GuardianOrganization">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="LocationAddressGuardianOrganization">адрес места нахождения организации</label>
                    <input type="text" class="form-control" asp-for="LocationAddressGuardianOrganization">
                </div>
            </div>
            <h5 class="my-2">Прошу доставлять пенсию</h5>
            <div class="row mb-3">
                <div class="col-4 my-auto">
                    <div class="form-check">
                        <input asp-for="PaymentTypeDeliveryPension" id="PaymentTypeDeliveryPension1" class="form-check-input" type="radio" value="1">
                        <label for="PaymentTypeDeliveryPension1" class="form-check-label">пенсионеру</label>
                    </div>
                </div>
                <div class="col-4 my-auto">
                    <div class="form-check">
                        <input asp-for="PaymentTypeDeliveryPension" id="PaymentTypeDeliveryPension2" class="form-check-input" type="radio" value="2">
                        <label for="PaymentTypeDeliveryPension2" class="form-check-label">представителю гражданина</label>
                    </div>
                </div>  
            </div>
            <h6 class="my-2">Способ оплаты</h6>
            <div class="row mb-3" checkBlock>
                <div class="col-12">
                    <div class="form-check">
                        <input asp-for="PaymentTypeInfo.IsChecked" id="PaymentType1" class="form-check-input" type="radio" value="1">
                        <label for="PaymentType1" class="form-check-label">через кредитную организацию</label>
                    </div>
                </div>
                <div class="row mb-3 justify-content-end" checkBlockBody>
                    <div class="col-11 mb-2">
                        <label class="form-label" asp-for="PaymentTypeInfo.PaymentBankInfo.Score">на счет №</label>
                        <input type="text" class="form-control" asp-for="PaymentTypeInfo.PaymentBankInfo.Score">
                    </div>
                    <div class="col-11">
                        <label class="form-label" asp-for="PaymentTypeInfo.PaymentBankInfo.OpenIn">наименование кредитной организации</label>
                        <input type="text" class="form-control" asp-for="PaymentTypeInfo.PaymentBankInfo.OpenIn">
                    </div>
                </div>
            </div>
            <div class="row mb-3" checkBlock>
                <div class="col-12">
                    <div class="form-check">
                        <input asp-for="PaymentTypeInfo.IsChecked" id="PaymentType2" class="form-check-input" type="radio" value="2">
                        <label for="PaymentType2" class="form-check-label">через организацию федеральной почтовой связи</label>
                    </div>
                    <div class="row mb-3 justify-content-end" checkBlockBody>
                        <div class="col-11 mb-2" checkBlock>
                            <div class="form-check">
                                <input asp-for="PaymentTypeInfo.PaymentPochtaInfo.IsChecked" id="PaymentPochtaType1" class="form-check-input" type="radio" value="1">
                                <label for="PaymentPochtaType1" class="form-check-label">путем вручения на дому</label>
                            </div>
                            <div class="row mb-3 justify-content-end" checkBlockBody>
                                <div class="col-3">
                                    <label class="form-label" asp-for="PaymentTypeInfo.PaymentPochtaInfo.PostalDeliveryHomeIndex">почтовый индекс</label>
                                    <input type="text" class="form-control" asp-for="PaymentTypeInfo.PaymentPochtaInfo.PostalDeliveryHomeIndex">
                                </div>
                                <div class="col-8">
                                    <label class="form-label" asp-for="PaymentTypeInfo.PaymentPochtaInfo.PostalDeliveryHome">почтовый адрес, по которому должна производиться доставку</label>
                                    <input type="text" class="form-control" asp-for="PaymentTypeInfo.PaymentPochtaInfo.PostalDeliveryHome">
                                </div>
                            </div>
                        </div>
                        <div class="col-11 mb-2" checkBlock>
                            <div class="form-check">
                                <input asp-for="PaymentTypeInfo.PaymentPochtaInfo.IsChecked" id="PaymentPochtaType2" class="form-check-input" type="radio" value="2">
                                <label for="PaymentPochtaType2" class="form-check-label">путем вручения в кассе организации</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3" checkBlock>
                <div class="col-12">
                    <div class="form-check">
                        <input asp-for="PaymentTypeInfo.IsChecked" id="PaymentType3" class="form-check-input" type="radio" value="3">
                        <label for="PaymentType3" class="form-check-label">через иную организацию, занимающуюся доставкой пенсий</label>
                    </div>
                    <div class="row mb-3 justify-content-end" checkBlockBody>
                        <div class="col-11 mb-3">
                            <label class="form-label" asp-for="PaymentTypeInfo.PaymentOrherInfo.OtherDeliveryOrganizationName">название организации</label>
                            <input type="text" class="form-control" asp-for="PaymentTypeInfo.PaymentOrherInfo.OtherDeliveryOrganizationName">
                        </div>
                        <div class="col-11 mb-2" checkBlock>
                            <div class="form-check">
                                <input asp-for="PaymentTypeInfo.PaymentOrherInfo.IsChecked" id="PaymentOtherType1" class="form-check-input" type="radio" value="1">
                                <label for="PaymentOtherType1" class="form-check-label">путем вручения на дому</label>
                            </div>
                            <div class="row mb-3 justify-content-end" checkBlockBody>
                                <div class="col-11">
                                    <label class="form-label" asp-for="PaymentTypeInfo.PaymentOrherInfo.OtherDeliveryHome">почтовый адрес, по которому должна производиться доставка</label>
                                    <input type="text" class="form-control" asp-for="PaymentTypeInfo.PaymentOrherInfo.OtherDeliveryHome">
                                </div>
                            </div>
                        </div>
                        <div class="col-11 mb-2" checkBlock>
                            <div class="form-check">
                                <input asp-for="PaymentTypeInfo.PaymentOrherInfo.IsChecked" id="PaymentOtherType2" class="form-check-input" type="radio" value="2">
                                <label for="PaymentOtherType2" class="form-check-label">путем вручения в кассе организации</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-check">
                        <input asp-for="PrevPensionInfo.IsChecked" class="form-check-input" type="checkbox" />
                        <label asp-for="PrevPensionInfo.IsChecked" class="form-check-label b-s-16">Прошу запросить мое выплатное дело для постановки на учет в территориальном органе ПФР по новому месту жительства(пребывания, фактического проживания)</label>
                    </div>
                </div>
            </div>
            <h5 class="my-2">До заключения указанного договора с выбранной мной организацией прошу доставлять пенсию</h5>
            <div class="row mb-3">
                <div class="col-4 my-auto">
                    <div class="form-check">
                        <input asp-for="PaymentTypeDeliveryPensionV2" id="PaymentTypeDeliveryPension1V1" class="form-check-input" type="radio" value="1">
                        <label for="PaymentTypeDeliveryPension1V1" class="form-check-label">пенсионеру</label>
                    </div>
                </div>
                <div class="col-4 my-auto">
                    <div class="form-check">
                        <input asp-for="PaymentTypeDeliveryPensionV2" id="PaymentTypeDeliveryPension2V2" class="form-check-input" type="radio" value="2">
                        <label for="PaymentTypeDeliveryPension2V2" class="form-check-label">представителю гражданина</label>
                    </div>
                </div>
            </div>
            <h6 class="my-2">Способ оплаты</h6>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="row mb-2" checkBlock>
                        <div class="col-12">
                            <div class="form-check">
                                <input asp-for="PaymentTypeInfoV2.IsChecked" id="PaymentType1V2" class="form-check-input" type="radio" value="1">
                                <label for="PaymentType1V2" class="form-check-label">через кредитную организацию</label>
                            </div>
                        </div>
                        <div class="row mb-3 justify-content-end" checkBlockBody>
                            <div class="col-11 mb-2">
                                <label class="form-label" asp-for="PaymentTypeInfoV2.PaymentBankInfo.Score">на счет №</label>
                                <input type="text" class="form-control" asp-for="PaymentTypeInfoV2.PaymentBankInfo.Score">
                            </div>
                            <div class="col-11">
                                <label class="form-label" asp-for="PaymentTypeInfoV2.PaymentBankInfo.OpenIn">наименование кредитной организации</label>
                                <input type="text" class="form-control" asp-for="PaymentTypeInfoV2.PaymentBankInfo.OpenIn">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2" checkBlock>
                        <div class="col-12">
                            <div class="form-check">
                                <input asp-for="PaymentTypeInfoV2.IsChecked" id="PaymentType2V2" class="form-check-input" type="radio" value="2">
                                <label for="PaymentType2V2" class="form-check-label">через организацию федеральной почтовой связи</label>
                            </div>
                            <div class="row mb-3 justify-content-end" checkBlockBody>
                                <div class="col-11 mb-2" checkBlock>
                                    <div class="form-check">
                                        <input asp-for="PaymentTypeInfoV2.PaymentPochtaInfo.IsChecked" id="PaymentPochtaType1V2" class="form-check-input" type="radio" value="1">
                                        <label for="PaymentPochtaType1V2" class="form-check-label">путем вручения на дому</label>
                                    </div>
                                    <div class="row mb-3 justify-content-end" checkBlockBody>
                                        <div class="col-3">
                                            <label class="form-label" asp-for="PaymentTypeInfoV2.PaymentPochtaInfo.PostalDeliveryHomeIndex">почтовый индекс</label>
                                            <input type="text" class="form-control" asp-for="PaymentTypeInfoV2.PaymentPochtaInfo.PostalDeliveryHomeIndex">
                                        </div>
                                        <div class="col-8">
                                            <label class="form-label" asp-for="PaymentTypeInfoV2.PaymentPochtaInfo.PostalDeliveryHome">почтовый адрес, по которому должна производиться доставкау</label>
                                            <input type="text" class="form-control" asp-for="PaymentTypeInfoV2.PaymentPochtaInfo.PostalDeliveryHome">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-11 mb-2" checkBlock>
                                    <div class="form-check">
                                        <input asp-for="PaymentTypeInfoV2.PaymentPochtaInfo.IsChecked" id="PaymentPochtaType2V2" class="form-check-input" type="radio" value="2">
                                        <label for="PaymentPochtaType2V2" class="form-check-label">путем вручения в кассе организации</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" checkBlock>
                        <div class="col-12">
                            <div class="form-check">
                                <input asp-for="PaymentTypeInfoV2.IsChecked" id="PaymentType3V3" class="form-check-input" type="radio" value="3">
                                <label for="PaymentType3" class="form-check-label">через иную организацию, занимающуюся доставкой пенсий</label>
                            </div>
                            <div class="row mb-3 justify-content-end" checkBlockBody>
                                <div class="col-11 mb-3">
                                    <label class="form-label" asp-for="PaymentTypeInfoV2.PaymentOrherInfo.OtherDeliveryOrganizationName">название организации</label>
                                    <input type="text" class="form-control" asp-for="PaymentTypeInfoV2.PaymentOrherInfo.OtherDeliveryOrganizationName">
                                </div>
                                <div class="col-11 mb-2" checkBlock>
                                    <div class="form-check">
                                        <input asp-for="PaymentTypeInfoV2.PaymentOrherInfo.IsChecked" id="PaymentOtherType1V2" class="form-check-input" type="radio" value="1">
                                        <label for="PaymentOtherType1V2" class="form-check-label">путем вручения на дому</label>
                                    </div>
                                    <div class="row mb-3 justify-content-end" checkBlockBody>
                                        <div class="col-11">
                                            <label class="form-label" asp-for="PaymentTypeInfo.PaymentOrherInfo.OtherDeliveryHome">почтовый адрес, по которому должна производиться доставка</label>
                                            <input type="text" class="form-control" asp-for="PaymentTypeInfo.PaymentOrherInfo.OtherDeliveryHome">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-11 mb-2" checkBlock>
                                    <div class="form-check">
                                        <input asp-for="PaymentTypeInfoV2.PaymentOrherInfo.IsChecked" id="PaymentOtherType2V2" class="form-check-input" type="radio" value="2">
                                        <label for="PaymentOtherType2V2" class="form-check-label">путем вручения в кассе организации</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="my-2">Уведомление, подтверждающее факт и дату приема заявления</h5>
            <div class="row mb-3" checkBlock>
                <div class="col-12">
                    <div class="form-check">
                        <input asp-for="TypeNotification.NotificationTypeOne" class="form-check-input" type="checkbox" />
                        <label asp-for="TypeNotification.NotificationTypeOne" class="form-check-label">
                            направить уведомление, подтверждающее факт и дату приема территориальным органом Пенсионного фонда Российской Федерации настоящего заявления и
                            представленных мною документов, на адрес электронной почты
                        </label>
                    </div>
                </div>
                <div class="row mb-3 justify-content-end" checkBlockBody>
                    <div class="col-11 mb-2">
                        <label class="form-label" asp-for="TypeNotification.EmailOne">адрес электронной почты гражданина</label>
                        <input type="text" class="form-control" asp-for="TypeNotification.EmailOne">
                    </div>
                </div>
            </div>
            <div class="row mb-3" checkBlock>
                <div class="col-12">
                    <div class="form-check">
                        <input asp-for="TypeNotification.NotificationTypeTwo" class="form-check-input" type="checkbox" />
                        <label asp-for="TypeNotification.NotificationTypeTwo" class="form-check-label">осуществлять информирование о ходе предоставления государственной услуги путем передачи текстовых сообщений</label>
                    </div>
                    <div class="row mb-3 justify-content-end" checkBlockBody>
                        <div class="row mb-2 justify-content-end" checkBlock>
                            <div class="col-12">
                                <div class="form-check">
                                    <input asp-for="TypeNotification.NotificationTransmitionMethod" id="NotificationTransmitionMethod1" class="form-check-input" type="radio" value="1">
                                    <label for="NotificationTransmitionMethod1" class="form-check-label">на адрес электронной почты</label>
                                </div>
                            </div>
                            <div class="row mb-3 justify-content-end" checkBlockBody>
                                <div class="col-11 mb-2">
                                    <label class="form-label" asp-for="TypeNotification.EmailTwo">адрес электронной почты гражданина</label>
                                    <input type="text" class="form-control" asp-for="TypeNotification.EmailTwo">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2 justify-content-end" checkBlock>
                            <div class="col-12">
                                <div class="form-check">
                                    <input asp-for="TypeNotification.NotificationTransmitionMethod" id="NotificationTransmitionMethod2" class="form-check-input" type="radio" value="2">
                                    <label for="NotificationTransmitionMethod2" class="form-check-label">на абонентский номер устройства подвижной радиотелефонной связи</label>
                                </div>
                            </div>
                            <div class="row mb-3 justify-content-end" checkBlockBody>
                                <div class="col-11 mb-2">
                                    <label class="form-label" asp-for="TypeNotification.SubscriberNumber">абонентский номер гражданина</label>
                                    <input type="text" class="form-control" asp-for="TypeNotification.SubscriberNumber">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var additionalForm = $('#additional-data-content');
    var originalBlock = $('#originalBlock');

    $(function () {

        originalBlock.find('[data-original]').each(function (_, item) {
            renameBlock($(item), 100, true);
            visibilityBlock($(item), true, true);
        });

        additionalForm.find("select.select2-search").each(function () {
            $(this).select2({
                //dropdownParent: $("#mainModal"),
            });
        });

        additionalForm.find('select.select2-nosearch').each(function () {
            $(this).select2({
                minimumResultsForSearch: Infinity,
            })

        });

        let options = { clearIncomplete: true, showMaskOnHover: false };

        additionalForm.find(".pickdate").datepicker({
            language: "ru",
            autoclose: true
        }).inputmask("99.99.9999", options);

        additionalForm.find("[name$='PostalDeliveryHomeIndex']").inputmask("999999", options);

        additionalForm.find(".pickdate_month").datepicker({
            language: "ru",
            autoclose: true,
            format: 'mm.yyyy',
            viewMode: "months",
            minViewMode: "months"
        }).inputmask("99.9999", options);;

        additionalForm.find('#addAppliedDocument').on('click', () => addForm('appliedDocumentList', 'appliedDocument'));

        additionalForm.find('[data-disabled]').each(function () {
            visibilityBlock($(this), true, true);
        });

        function addForm(cloneListId, originalId) { //Динамическое добавление Принимает (Куда Откуда)
            let $cloneList = additionalForm.find(`#${cloneListId}`);
            let $original = originalBlock.find(`#${originalId}`);
            let $cloneBlock = $original.clone(true);
            let indexId = $cloneList.find('[data-clone]').length;
            renameBlock($cloneBlock, indexId);
            blockInit($cloneBlock);
            $cloneList.append($cloneBlock);
        }

        function blockInit($block) {
            visibilityBlock($block, false, false);

            $block.find("input").each(function () {
                $(this).val("");
            });
            $block.find('select.select2-nosearch').each(function () {
                $(this).select2({
                    minimumResultsForSearch: Infinity,
                })
            });
        }

        additionalForm.find('[type="radio"], input[type="checkbox"]').on('click', function () {
            togleFields();
        });

        togleFields();

    });

    function togleFields() {
        additionalForm.find('[checkBlock] input[type="radio"], [checkBlock] input[type="checkbox"]').each(function () {
            let $block = $(this).closest('[checkBlock]');

            if ($(this).is(':checked')) {
                visibilityBlock($block.find('[checkBlockBody]'), false, false);
            } else {
                visibilityBlock($block.find('[checkBlockBody]'), true, true);
            }
        })
    }

    function renameBlock($cloneBlock, indexId, initOriginal = false) {
        if (!initOriginal) {
            $cloneBlock.find('.title').text($cloneBlock.find('.title').text().replace(/\d+/, indexId + 1));
            $cloneBlock.attr("id", `${$cloneBlock.attr("id")}${indexId}`);
            $cloneBlock.attr('data-id', indexId);
            $cloneBlock.attr('data-clone', '');
            $cloneBlock.removeAttr('data-original');
        }

        $cloneBlock.find('input, select, div').each(function () {
            $(this).attr('id', $(this).attr('id')?.replace(/\d+/, indexId));
            if ($(this).is('[name]')) {
                $(this).attr('name', $(this).attr('name').replace(/\d+/, indexId));
            }
        });

        $cloneBlock.find('label').each(function () {
            $(this).attr('for', $(this).attr('for').replace(/\d+/, indexId));
        });
    }

    function blockRemove(el) {
        let $cloneList = $(el).closest('[data-clone-list]');
        el.closest('[data-clone]').remove();
        $cloneList.find('[data-clone]').each(function (index, item) {
            renameBlock($(item), index);
        });
    }

    function visibilityBlock($block, hide, isDisabled) {
        switch (hide) {
            case true:
                $block.hide();
                break;
            case false:
                $block.show();
                break;
        }

        switch (isDisabled) {
            case true:
                $block.find('input, select').each(function () {
                    $(this).prop('disabled', true);
                });
                break;
            case false:
                $block.find('input, select').each(function () {
                    $(this).prop('disabled', false);
                });
                $block.find('[data-disabled]').each(function () {
                    visibilityBlock($(this), true, true);
                });
                break;
        }
    }
</script>
