@model _49_4_ReimbursementReceivedAmountsPensionsModel

<div id="additional-data-content">
    <div class="row g-3">
        <div class="col-8 mx-auto">
            <h5 class="my-2">Заявитель</h5>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Citizenship">принадлежность к гражданству</label>
                    <input type="text" class="form-control" asp-for="Citizenship">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="ValidityPeriodDocument">Срок действия документа удостоверяющего личность</label>
                    <input type="text" class="form-control" asp-for="ValidityPeriodDocument">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="r-l-14">В настоящее время государственную должность Российской Федерации или государственную должность субъекта Российской Федерации, или муниципальную должность, замещаемую на постоянной основе, или должность государственной гражданской службы Российской Федерации, или должность муниципальной службы</div>
                    <div>
                        <div class="form-check form-check-inline">
                            <input asp-for="JobType" id="JobType1" class="form-check-input" type="radio" value="1">
                            <label for="JobType1" class="form-check-label">замещаю</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input asp-for="JobType" id="JobType2" class="form-check-input" type="radio" value="2">
                            <label for="JobType2" class="form-check-label">не замещаю</label>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="my-2">Представитель</h5>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Representative">Тип</label>
                    <select class="select2-nosearch" asp-for="Representative">
                        <option value="">Не выбрано</option>
                        <option value="законный представитель несовершеннолетнего или недееспособного лица">законный представитель несовершеннолетнего или недееспособного лица</option>
                        <option value="организация, на которую возложено исполнение обязанностей опекуна или попечителя">организация, на которую возложено исполнение обязанностей опекуна или попечителя</option>
                        <option value="доверенное лицо">доверенное лицо</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="GuardianOrganization">наименование организации, на которую возложено исполнение обязанностей опекуна или попечителя</label>
                    <input type="text" class="form-control" asp-for="GuardianOrganization">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="LocationAddressGuardianOrganization">адрес места нахождения организации</label>
                    <input type="text" class="form-control" asp-for="LocationAddressGuardianOrganization">
                </div>
            </div>
            <br />
            <h5 class="my-2">Прошу производить удержания из</h5>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="PensionType">Тип Пенсии</label>
                    <select asp-for="PensionType" class="form-select select2-tag">
                        <option>страховой пенсии по старости, фиксированной выплаты к указанной страховой пенсии</option>
                        <option>страховой пенсии по инвалидности, фиксированной выплаты к указанной страховой пенсии</option>
                        <option>страховой пенсии по случаю потери кормильца, фиксированной выплаты к указанной страховой пенсии</option>
                        <option>страховой пенсии по старости</option>
                        <option>доли страховой пенсии по старости</option>
                        <option>накопительной пенсии</option>
                        <option>пенсии за выслугу лет по государственному пенсионному обеспечению</option>
                        <option>пенсии по старости по государственному пенсионному обеспечению</option>
                        <option>пенсии по инвалидности по государственному пенсионному обеспечению</option>
                        <option>пенсии по случаю потери кормильца по государственному пенсионному обеспечению</option>
                        <option>социальной пенсии по старости</option>
                        <option>социальной пенсии по инвалидности</option>
                        <option>социальной пенсии по случаю потери кормильца</option>
                        <option>пенсии, предусмотренной Законом Российской Федерации от 19 апреля 1991 г. N 1032-1 "О занятости населения в Российской Федерации"</option>
                        <option>пенсии по старости, предусмотренной Законом Российской Федерации от 15 мая 1991 г. N 1244-1 "О социальной защите граждан, подвергшихся воздействию радиации вследствие катастрофы на Чернобыльской АЭС"</option>
                        <option>иное</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <label class="form-label" asp-for="PensionPeriod">Период</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                        <input asp-for="PensionPeriod" type="text" class="form-control pickdate_month" placeholder="Период">
                    </div>
                </div>
            </div>
            <div class="row mb-3" checkBlock>
                <div class="col-12">
                    <div class="form-check">
                        <input asp-for="AmountsType" id="AmountsType1" class="form-check-input" type="radio" value="1">
                        <label for="AmountsType1" class="form-check-label">в размере процентов</label>
                    </div>
                </div>
                <div class="row mb-3 justify-content-end" checkBlockBody>
                    <div class="col-11 mb-2">
                        <label class="form-label" asp-for="AmountPercent">Проценты</label>
                        <input type="number" class="form-control" asp-for="AmountPercent" min="0" max="100">
                    </div>
                </div>
            </div>
            <div class="row mb-3" checkBlock>
                <div class="col-12">
                    <div class="form-check">
                        <input asp-for="AmountsType" id="AmountsType2" class="form-check-input" type="radio" value="2">
                        <label for="AmountsType2" class="form-check-label">в размере твердой суммы</label>
                    </div>
                </div>
                <div class="row mb-3 justify-content-end" checkBlockBody>
                    <div class="col-11 mb-2">
                        <label class="form-label" asp-for="AmountFixed">Сумма</label>
                        <input type="number" class="form-control" asp-for="AmountFixed" min="0">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="AmountCount">излишне выплаченная сумма пенсии </label>
                    <input type="number" class="form-control" asp-for="AmountCount" min="0">
                </div>
            </div>
            <h5 class="my-2">Уведомление, подтверждающее факт и дату приема заявления</h5>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="NotificationAcceptance">Почта</label>
                    <input type="text" class="form-control" asp-for="NotificationAcceptance">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var additionalForm = $('#additional-data-content');
    var originalBlock = $('#originalBlock');

    $(function () {

        originalBlock.find('[data-original]').each(function (_, item) {
            renameBlock($(item), 100, true);
            visibilityBlock($(item), true, true);
        });

        additionalForm.find("select.select2-search").each(function () {
            $(this).select2({
                //dropdownParent: $("#mainModal"),
            });
        });

        additionalForm.find('select.select2-nosearch').each(function () {
            $(this).select2({
                minimumResultsForSearch: Infinity,
            })
        });

        additionalForm.find("select.select2-tag").each(function () {
            $(this).select2({
                tags: true
                //dropdownParent: $("#mainModal"),
            });
        });

        let options = { clearIncomplete: true, showMaskOnHover: false };

        additionalForm.find(".pickdate").datepicker({
            language: "ru",
            autoclose: true
        }).inputmask("99.99.9999", options);

        additionalForm.find(".pickdate_month").datepicker({
            language: "ru",
            autoclose: true,
            format: 'mm.yyyy',
            viewMode: "months",
            minViewMode: "months"
        }).inputmask("99.9999", options);;

        additionalForm.find('#addAppliedDocument').on('click', () => addForm('appliedDocumentList', 'appliedDocument'));

        additionalForm.find('[data-disabled]').each(function () {
            visibilityBlock($(this), true, true);
        });

        function addForm(cloneListId, originalId) { //Динамическое добавление Принимает (Куда Откуда)
            let $cloneList = additionalForm.find(`#${cloneListId}`);
            let $original = originalBlock.find(`#${originalId}`);
            let $cloneBlock = $original.clone(true);
            let indexId = $cloneList.find('[data-clone]').length;
            renameBlock($cloneBlock, indexId);
            blockInit($cloneBlock);
            $cloneList.append($cloneBlock);
        }

        function blockInit($block) {
            visibilityBlock($block, false, false);

            $block.find("input").each(function () {
                $(this).val("");
            });
            $block.find('select.select2-nosearch').each(function () {
                $(this).select2({
                    minimumResultsForSearch: Infinity,
                })
            });
        }

        additionalForm.find('[type="radio"], input[type="checkbox"]').on('click', function () {
            togleFields();
        });

        togleFields();

    });

    function togleFields() {
        additionalForm.find('[checkBlock] input[type="radio"], [checkBlock] input[type="checkbox"]').each(function () {
            let $block = $(this).closest('[checkBlock]');

            if ($(this).is(':checked')) {
                visibilityBlock($block.find('[checkBlockBody]'), false, false);
            } else {
                visibilityBlock($block.find('[checkBlockBody]'), true, true);
            }
        })
    }

    function renameBlock($cloneBlock, indexId, initOriginal = false) {
        if (!initOriginal) {
            $cloneBlock.find('.title').text($cloneBlock.find('.title').text().replace(/\d+/, indexId + 1));
            $cloneBlock.attr("id", `${$cloneBlock.attr("id")}${indexId}`);
            $cloneBlock.attr('data-id', indexId);
            $cloneBlock.attr('data-clone', '');
            $cloneBlock.removeAttr('data-original');
        }

        $cloneBlock.find('input, select, div').each(function () {
            $(this).attr('id', $(this).attr('id')?.replace(/\d+/, indexId));
            if ($(this).is('[name]')) {
                $(this).attr('name', $(this).attr('name').replace(/\d+/, indexId));
            }
        });

        $cloneBlock.find('label').each(function () {
            $(this).attr('for', $(this).attr('for').replace(/\d+/, indexId));
        });
    }

    function blockRemove(el) {
        let $cloneList = $(el).closest('[data-clone-list]');
        el.closest('[data-clone]').remove();
        $cloneList.find('[data-clone]').each(function (index, item) {
            renameBlock($(item), index);
        });
    }

    function visibilityBlock($block, hide, isDisabled) {
        switch (hide) {
            case true:
                $block.hide();
                break;
            case false:
                $block.show();
                break;
        }

        switch (isDisabled) {
            case true:
                $block.find('input, select').each(function () {
                    $(this).prop('disabled', true);
                });
                break;
            case false:
                $block.find('input, select').each(function () {
                    $(this).prop('disabled', false);
                });
                $block.find('[data-disabled]').each(function () {
                    visibilityBlock($(this), true, true);
                });
                break;
        }
    }
</script>

