@model _69_2_AmountPensionsModel

<div id="additional-data-content">
    <div class="row g-3">
        <div class="col-8 mx-auto">
            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" asp-for="DateFor">на дату</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">
                            <i class="bi bi-calendar3"></i>
                        </span>
                        <input asp-for="DateFor" type="text"
                               class="form-control pickdate">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var additionalForm = $('#additional-data-content');

    $(function () {
        let options = { clearIncomplete: true, showMaskOnHover: false };

        additionalForm.find(".pickdate").datepicker({
            language: "ru",
            autoclose: true
        }).inputmask("99.99.9999", options);

    });
</script>