@model _70_ApplicationEstablishmentSecretCodeModel

<div id="additional-data-content">
    <div class="row g-3">
        <div class="col-8 mx-auto">
            <h6 class="my-2">Телефонные номера, с которых предполагается осуществлять звонки для получения персонифицированной информации1 (Необходимо указать от 1 до 3 мобильных телефонных номеров).</h6>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="PhoneNumber1">Номер телефона</label>
                    <input type="text" class="form-control" asp-for="PhoneNumber1">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="PhoneNumber2">Номер телефона</label>
                    <input type="text" class="form-control" asp-for="PhoneNumber2">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="PhoneNumber3">Номер телефона</label>
                    <input type="text" class="form-control" asp-for="PhoneNumber3">
                </div>
            </div>
            <h6 class="my-2">Установление секретного кода</h6>
            <div class="" checkBlock>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="SecretType" id="SecretType1" value="1">
                    <label class="form-check-label" for="SecretType1">Вариант 1: секретный код</label>
                </div>
                <div class="ms-3 ps-4" checkBlockBody>
                    <label class="form-label" asp-for="SecretCode">(указать код, состоящий из букв русского алфавита и (или) цифр, не менее 3 и не более 10 символов)</label>
                    <input type="text" class="form-control" asp-for="SecretCode">
                </div>
            </div>
            <div class="" checkBlock>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="SecretType" id="SecretType2" value="2">
                    <label class="form-check-label" for="SecretType2">Вариант 2: ответ на секретный вопрос</label>
                </div>
                <div class="ms-3 ps-4" checkBlockBody>
                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="form-check">
                                <input asp-for="SecretAnswerType" id="SecretAnswerType1" class="form-check-input" type="radio" value="1" checkBlock>
                                <label for="SecretAnswerType1" class="form-check-label">девичья фамилия матери</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="form-check">
                                <input asp-for="SecretAnswerType" id="SecretAnswerType2" class="form-check-input" type="radio" value="2" checkBlock>
                                <label for="SecretAnswerType2" class="form-check-label">кличка домашнего питомца</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="form-check">
                                <input asp-for="SecretAnswerType" id="SecretAnswerType3" class="form-check-input" type="radio" value="3" checkBlock>
                                <label for="SecretAnswerType3" class="form-check-label">иное</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-11">
                            <label class="form-label" asp-for="SecretAnswer">(указать ответ на секретный вопрос, не более 20 символов)</label>
                            <input type="text" class="form-control" asp-for="SecretAnswer" maxlength="20">
                        </div>
                    </div>
                </div>
            </div>
        </<div>
    </div>
</div>


<script>
    var additionalForm = $('#additional-data-content');

    $(function () {
        let options = { clearIncomplete: true, showMaskOnHover: false };

        additionalForm.find(".pickdate").datepicker({
            language: "ru",
            autoclose: true
        }).inputmask("99.99.9999", options);

        togleFields()

    });

    additionalForm.find('[type="radio"], input[type="checkbox"]').on('click', function () {
        togleFields();
    });


    additionalForm.find("#TypePayment_TypeSixteen").on('click', function () {
        togleFields();
    });

    function togleFields() {
        additionalForm.find('[checkBlock] input[type="radio"], [checkBlock] input[type="checkbox"]').each(function () {
            let $block = $(this).closest('[checkBlock]');

            if ($(this).is(':checked')) {
                visibilityBlock($block.find('[checkBlockBody]'), false, false);
            } else {
                visibilityBlock($block.find('[checkBlockBody]'), true, true);
            }
        })
    }

    function visibilityBlock($block, hide, isDisabled) {
        switch (hide) {
            case true:
                $block.hide();
                break;
            case false:
                $block.show();
                break;
        }

        switch (isDisabled) {
            case true:
                $block.find('input, select').each(function () {
                    $(this).prop('disabled', true);
                });
                break;
            case false:
                $block.find('input, select').each(function () {
                    $(this).prop('disabled', false);
                });
                $block.find('[data-disabled]').each(function () {
                    visibilityBlock($(this), true, true);
                });
                break;
        }
    }

</script>
