@model AisLogistics.App.Models.AdditionalForms.KBR.Federal.ArchiveTechnicalDocumentationProvidenceModel
@{
}
<div id="additional-data-content">
    <div class="row g-3">
        <div class="col-8 mx-auto">
            <div class="row mb-3">
                <div class="col-12">
                    <label asp-for="DocumentName" class="form-label">Прошу выдать:</label>
                    <input asp-for="DocumentName" class="form-control" type="text" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <label asp-for="RealtyObject" class="form-label">На объект недвижимости:</label>
                    <input asp-for="RealtyObject" class="form-control" type="text" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <label asp-for="Application" class="form-label">Приложение:</label>
                    <input asp-for="Application" class="form-control" type="text" />
                </div>
            </div>
        </div>
    </div>
</div>