@model AisLogistics.App.Models.AdditionalForms.KBR.Federal.ArchiveDocumentProvidenceModel
@{
}
<div id="additional-data-content">
    <div class="row g-3">
        <div class="col-8 mx-auto">
            <div class="row mb-3">
                <div class="col-12">
                    <label asp-for="DocumentName" class="form-label">
                        Прошу предоставить копию архивного документа (архивную копию)
                    </label>
                    <input asp-for="DocumentName" class="form-control" type="text" />
                </div>
            </div>
        </div>
    </div>
</div>
