@model AisLogistics.App.Models.AdditionalForms.KBR.Federal.LargeFamiliesOneTimeTargetedSocialAssistanceModel
@{
    IEnumerable<SelectListItem>? docList = Model.AppliedDocuments?.Select(i => new SelectListItem(i, i));

    if (Model.Children.Length == 0)
        Model.Children = new[] { new AisLogistics.App.Models.AdditionalForms.KBR.Federal.LargeFamiliesOneTimeTargetedSocialAssistanceModel.Child() };
}
<div id="additional-data-content">
    <div class="row g-3">
        <div class="col-8 mx-auto">
            <div class="row mb-3">
                <div class="col-12">
                    <h5 class="my-2">Супруг(а)</h5>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label asp-for="OtherPartnerFullName" class="form-label">Ф.И.О.</label>
                            <input asp-for="OtherPartnerFullName" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <label asp-for="OtherPartnerBirthDate" class="form-label">Дата рождения</label>
                            <input asp-for="OtherPartnerBirthDate" class="form-control pickdate" type="text" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label asp-for="OtherPartnerDocumentRequisites" class="form-label">Данные документа, удостоверяющего личность</label>
                            <input asp-for="OtherPartnerDocumentRequisites" class="form-control pickdate" type="text" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label asp-for="OtherPartnerAddress" class="form-label">Адрес проживания</label>
                            <input asp-for="OtherPartnerAddress" class="form-control" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            
            <h5 class="my-2">Дети</h5>
            <div id="childrenList" data-clone-list>
                @for (var i = 0; i < Model.Children.Length; i++)
                {
                    <div class="g-3" id="clone@(i)" data-id="@i" data-clone>
                        <hr />
                        <h6 class="my-2 title">Ребенок @(i + 1)</h6>
                        <div class="row mb-1 align-items-center">
                            <div class="col-6">
                                <label asp-for="Children[i].FullName" class="form-label">Ф.И.О.</label>
                                <input asp-for="Children[i].FullName" class="form-control" type="text">
                            </div>
                            <div class="col-4">
                                <label asp-for="Children[i].BirthDate" class="form-label">Дата рождения</label>
                                <input asp-for="Children[i].BirthDate" class="form-control pickdate" type="text">
                            </div>
                            <div class="col-2 mt-2">
                                <button type="button" class="btn btn-danger" onclick="blockRemove(this)"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-12">
                                <label asp-for="Children[i].DocumentRequisites" class="form-label">
                                    Данные документа, удостоверяющего личность
                                </label>
                                <input asp-for="Children[i].DocumentRequisites" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-12">
                                <label asp-for="Children[i].Address" class="form-label">Адрес проживания</label>
                                <input asp-for="Children[i].Address" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row justify-content-center">
                <div class="col-2">
                    <button type="button" class="btn btn-primary" id="addChild"><i class="bi bi-plus"></i></button>
                </div>
            </div>
            <hr />

            <div class="row mb-3">
                <div class="col-12">
                    <label asp-for="AppliedDocuments" class="form-label">Приложенные документы</label>
                    <select asp-for="AppliedDocuments" class="select2" multiple="multiple" asp-items="@docList"></select>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="originalBlock">
    <div class="g-3" id="child" data-id="" data-original>
        <hr />
        <h6 class="my-2 title">Ребенок 0</h6>
        <div class="row mb-1 align-items-center">
            <div class="col-6">
                <label asp-for="Children[0].FullName" class="form-label">Ф.И.О.</label>
                <input asp-for="Children[0].FullName" class="form-control" type="text">
            </div>
            <div class="col-4">
                <label asp-for="Children[0].BirthDate" class="form-label">Дата рождения</label>
                <input asp-for="Children[0].BirthDate" class="form-control pickdate" type="text">
            </div>
            <div class="col-2 mt-2">
                <button type="button" class="btn btn-danger" onclick="blockRemove(this)"><i class="bi bi-trash"></i></button>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-12">
                <label asp-for="Children[0].DocumentRequisites" class="form-label">
                    Данные документа, удостоверяющего личность
                </label>
                <input asp-for="Children[0].DocumentRequisites" class="form-control" type="text">
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-12">
                <label asp-for="Children[0].Address" class="form-label">Адрес проживания</label>
                <input asp-for="Children[0].Address" class="form-control" type="text">
            </div>
        </div>
    </div>
</div>

<script>
    var additionalForm = $('#additional-data-content');
    var originalBlock = $('#originalBlock');

    $(function () {
        additionalForm.find('#addChild').on('click', () => addForm('childrenList', 'child'));

        additionalForm.find(".pickdate").datepicker({
            language: "ru",
            autoclose: true
        }).inputmask("99.99.9999", { clearIncomplete: true, showMaskOnHover: false });

        additionalForm.find('[data-disabled]').each(function () {
            visibilityBlock($(this), true, true);
        });

        additionalForm.find("select.select2").each(function () {
            $(this).select2({
                tags: true,
                minimumResultsForSearch: -1,
                language: "ru",
                allowClear: true,
                showSearchBox: false
            });
        });

        originalBlock.find('[data-original]').each(function (_, item) {
            renameBlock($(item), 100, true);
            visibilityBlock($(item), true, true);
        });
    })

    function addForm(cloneListId, originalId) { //Динамическое добавление Принимает (Куда Откуда)
        let $cloneList = additionalForm.find(`#${cloneListId}`);
        let $original = originalBlock.find(`#${originalId}`);
        let $cloneBlock = $original.clone(true);
        let indexId = $cloneList.find('[data-clone]').length;
        renameBlock($cloneBlock, indexId);
        blockInit($cloneBlock);
        $cloneList.append($cloneBlock);
    }

    function blockInit($block) {
        visibilityBlock($block, false, false);

        $block.find("input").each(function () {
            $(this).val("");
        });
        $block.find('select.select2-nosearch').each(function () {
            $(this).select2({
                minimumResultsForSearch: Infinity,
            })
        });
    }

    function renameBlock($cloneBlock, indexId, initOriginal = false) {
        if (!initOriginal) {
            $cloneBlock.find('.title').text($cloneBlock.find('.title').text().replace(/\d+/, indexId + 1));
            $cloneBlock.attr("id", `${$cloneBlock.attr("id")}${indexId}`);
            $cloneBlock.attr('data-id', indexId);
            $cloneBlock.attr('data-clone', '');
            $cloneBlock.removeAttr('data-original');
        }

        $cloneBlock.find('input, select, div').each(function () {
            $(this).attr('id', $(this).attr('id')?.replace(/\d+/, indexId));
            if ($(this).is('[name]')) {
                $(this).attr('name', $(this).attr('name').replace(/\d+/, indexId));
            }
        });

        $cloneBlock.find('label').each(function () {
            $(this).attr('for', $(this).attr('for').replace(/\d+/, indexId));
        });
    }

    function blockRemove(el) {
        let $cloneList = $(el).closest('[data-clone-list]');
        el.closest('[data-clone]').remove();
        $cloneList.find('[data-clone]').each(function (index, item) {
            renameBlock($(item), index);
        });
    }

    function visibilityBlock($block, hide, isDisabled) {
        switch (hide) {
            case true:
                $block.hide();
                break;
            case false:
                $block.show();
                break;
        }

        switch (isDisabled) {
            case true:
                $block.find('input, select').each(function () {
                    $(this).prop('disabled', true);
                });
                break;
            case false:
                $block.find('input, select').each(function () {
                    $(this).prop('disabled', false);
                });
                $block.find('[data-disabled]').each(function () {
                    visibilityBlock($(this), true, true);
                });
                break;
        }
    }
</script>