<ul class="list-group list-group-flush rounded" role="tablist">
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="ServiceDetails">
       Общая информация
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="ServiceProcedures">
       Процедуры
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="ServiceCustomers">
       Получатели
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="ServiceDocuments">
      Документы
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="ServiceDocumentsResults">
      Результаты
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="ServiceSmev">
        СМЭВ
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="ServiceTariffs">
       Тарифы
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="ServiceStages">
      Этапы
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="ServiceBlancs">
       Бланки
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="ServiceFiles">
       Файлы
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="ServiceWaysGet">
       Способы обращения
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="ServiceReasons">
       Основания
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="ServiceQualityTypes">
       Способы оценки
    </li>
    <li class="list-group-item r-s-16 cursor-pointer" data-url-action="ServiceActivities">
       Активность
    </li>
</ul>
